

.su-bar {
  position:relative;
  width:100%;
  max-width:1200px;
  margin:0 auto;
  display:flex;

  .su-col {
    width: 100%;
    padding: 20px;
    min-height:400px;
    &.su-center p {
      max-width: 215px;
      text-align: center;
      margin: 0 auto;
    }
    &.su-center .quote-cont {
      margin: 0 auto;
      max-width:800px;
      font-size:26px;
      display:flex;
      .quote {
        flex-grow:1;
      }
    }
    .quote-attrib {
      max-width:800px;
      margin:0 auto;
      text-align:right;
    }
    .su-image {
      width:100%;
      height:100%;
      background-repeat:no-repeat;
      background-size:cover;
      border-radius:3px;
      &.image-1 {
        background-image:url(/static/images/shutterstock/stock-photo-middle-aged-businessman-with-eyeglasses-in-office-361409216.jpg);
      }
      &.image-2 {
        background-image:url(/static/images/shutterstock/stock-photo-working-process-of-successful-call-center-team-at-office-and-smiling-operators-focus-on-the-blond-330892385.jpg);
      }
    }
  }
}
.su-bar-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/static/images/shutterstock/stock-photo-happy-indian-male-student-with-smartphone-663508867.jpg);
  background-position-y:27%;
  position:relative;
  .su-image-gradient {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(51,51,51,0.6);
  }
  .su-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

