@include font-face(Sarina, 'https://fonts.googleapis.com/css?family=Sarina');

a {
  color: #F277A1;
}
.custom-nav {
  background-color:transparent;
  border-bottom:2px solid transparent;
  position: fixed;
  width:100%;
  top:0;
  display:flex;
  justify-content:space-between;
  transition:150ms ease all;
  z-index:1;
  .nav-side {
    min-width:1px;
  }
  .nav-center {
    position:relative;
    margin-top:20px;
    margin-bottom:5px;
    transition:150ms ease all;
    opacity:0;
    .nav-center-text { 
      font-size:30px;
      font-weight:600;
      font-family: 'Sarina', cursive;
      background-size:cover;
      background-image: url('https://files.catbox.moe/sloccc.gif');
      background-repeat: no-repeat;
      background-position: center;
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
                          
      color: #000;
      text-shadow: 0px 0px 0 rgba(240, 90, 127, 0.5);
    }
  }
  &.pop {
    background-color:#303030;
    border-color:#fff;
    .nav-center {
      opacity:1;
    }
  }
}
.su-bar {
  position:relative;
  width:100%;
  max-width:1200px;
  margin:0 auto;
  display:flex;
  flex-wrap:wrap;
  .su-bar-header {
    width:100%;
    text-align: center;
    padding-top:30px;
  }
  .su-col {
    width: 50%;
    padding: 20px;
    min-height:400px;
    &.su-center { 
      width:100%;  
      p {
        max-width: 215px;
        text-align: center;
        margin: 0 auto;
      }
    }
  }
}
.quote-cont {
  margin: 0 auto;
  max-width:800px;
  font-size:26px;
  display:flex;
  .quote {
    flex-grow:1;
    padding:0 15px;
    max-width:680px
  }
}
.quote-attrib {
  width:100%;
  max-width:740px;
  margin:0 auto;
  text-align:right;
}

.su-image {
  width:100%;
  height:100%;
  background-repeat:no-repeat;
  background-size:cover;
  border-radius:3px;
  &.image-1 {
    background-image:url(/static/images/shutterstock/stock-photo-middle-aged-businessman-with-eyeglasses-in-office-361409216.jpg);
  }
  &.image-2 {
    background-image:url(/static/images/shutterstock/stock-photo-working-process-of-successful-call-center-team-at-office-and-smiling-operators-focus-on-the-blond-330892385.jpg);
  }
}

.su-bar-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(/static/images/shutterstock/stock-photo-happy-indian-male-student-with-smartphone-663508867.jpg);
  background-position-y:27%;
  position:relative;
  margin-top:25px;
  .su-image-gradient {
    position:absolute;
    width:100%;
    height:100%;
    background-color:rgba(51,51,51,0.6);
  }
  .su-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

